@model ZCLINIC.Areas.URM.Models.USERAUTH
@using ZCLINIC
@{
    string URL = "/URM/Authentication/UpdatePassword";

}

<form class="form-horizontal" method="post" id="" data-url="@URL" data-display="Master Account">



    <div class="row">



        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4 text-right">Current Password <b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @Html.TextBoxFor(m => m.USER_PWS, new { @class = "form-control input-group", placeholder = "Enter Current Password", type = "password", required = "required" })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>
        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4 text-right">New Password <b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control input-group", placeholder = "Enter New Password", type = "password", required = "required" })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>
        <div class="form-group form-group-xs">
            <label class="control-label col-sm-4 text-right">Confirm Password <b class="wysiwyg-color-red">*</b></label>
            <div class="form-group has-feedback col-sm-8">
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control input-group", placeholder = "Enter Confirm Password", type = "password", required = "required" })
                <div class="form-control-feedback"><i class=""></i></div>
            </div>
        </div>

        <div class="modal-footer no-padding no-border">
            <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal"><i class="icon-cross"></i> Close</button>
            <button type="button" data-submit="true" class="btn btn-primary btn-xs"><i class="icon-floppy-disk position-left"></i> Save</button>
        </div>

    </div>

</form>
