@model ZCLINIC.Areas.URM.Models.USERAUTH
@using ZCLINIC



@{
    Layout = "~/Views/Shared/_Authentication.cshtml";
}


<form action="/URM/Authentication/Authenticate" method="post">
    <div class="panel panel-body login-form">
        <div class="text-center">
            <div class="icon-object border-warning-400 text-warning-400"><i class="icon-people"></i></div>
            <h5 class="content-group-lg">Login to your account <small class="display-block">Enter your credentials</small></h5>
        </div>

        <div class="form-group has-feedback has-feedback-left">
            <input type="text" class="form-control" style="height:36px" required="required" name="USER_NAME" placeholder="Username">
            <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
            </div>
        </div>

        <div class="form-group has-feedback has-feedback-left">
            <input type="password" class="form-control" style="height:36px" required="required" name="USER_PWS" placeholder="Password" height="36">
            <div class="form-control-feedback">
                <i class="icon-lock2 text-muted"></i>
            </div>
        </div>

        @*<div class="form-group has-feedback has-feedback-left" style="height:36px" required="required">
            @{
                List<ZCLINIC.Areas.Master.Models.Branch> branchs = new ZCLINIC.Areas.Master.Models.Branch().Master_BranchGetAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());
                branchs.Insert(0, new ZCLINIC.Areas.Master.Models.Branch { BranchName =  "Select Branch" });
            }
            @Html.DropDownList("BranchId", branchs.Select(p => new SelectListItem() { Text = p.BranchName, Value = p.BranchId == 0 ? "" :  p.BranchId.ToString() }), new { @class = "form-control",@required="required", data_style = "btn-default btn-xs", tabindex = '4', data_search = "true", data_width = "100%" })

        </div>*@

        <div class="form-group login-options">
            <div class="row">
                <div class="col-sm-6">
                    <label class="checkbox-inline">
                        <input type="checkbox" class="styled">
                        Remember
                    </label>
                </div>

                <div class="col-sm-6 text-right">
                    <a data-toggle="modal" data-target="#modal-recover" href="#">Forgot password?</a>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn bg-blue btn-block">Login <i class="icon-arrow-right14 position-right"></i></button>
        </div>


        <span class="help-block text-center no-margin">By continuing, you're confirming that you've read our <a href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a></span>
    </div>
</form>




<div id="modal-recover" class="modal fade" style="display: none; padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content login-form">

            <!-- Form -->
            <form class="modal-body" action="index.html">
                <div class="text-center">
                    <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
                    <h5 class="content-group">Password recovery <small class="display-block">We'll send you instructions in email</small></h5>
                </div>

                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Your email">
                    <div class="form-control-feedback">
                        <i class="icon-mail5 text-muted"></i>
                    </div>
                </div>

                <button type="submit" class="btn bg-blue btn-block">Reset password <i class="icon-circle-right2 position-right"></i></button>
                <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
            </form>
            <!-- /form -->

        </div>
    </div>
</div>


