@using ZCLINIC
<div class="page-header page-header-default">
    <div class="breadcrumb-line">
        <h5 class="text-semibold">Fees Receipt Register</h5>
    </div>
</div>

@{
    string a = string.Empty;
}



<div class="content">
    <div class="panel panel-flat">
        <div class="panel-body">


















            <div class="row">


                <div class="form-group form-group-xs col-md-12">

                    <div class="form-group form-group-xs col-md-2">
                        <label>From  Date<b class="wysiwyg-color-red"></b></label>
                        <input type="date" class="form-control" id="FromDate" />

                    </div>




                    <div class="form-group form-group-xs col-md-2">
                        <label>To Date<b class="wysiwyg-color-red"></b></label>
                        <input type="date" class="form-control" id="ToDate" />

                    </div>







                </div>




            </div>

            <div class="row">


                <div class="form-group form-group-xs col-md-12">









                    <div class="form-group form-group-xs col-md-4">
                        <label>Account Name<b class="wysiwyg-color-red"></b></label>
                        <div>
                            @{
                                List<ZCLINIC.Areas.Master.Models.Master_SubAccount> Master_SubAccount = new ZCLINIC.Areas.Master.Models.Master_SubAccount().Master_SubAccountGetAll(Context.Session.GetBValues(), Context.GetIP(), Context.GetCInfo());
                                Master_SubAccount.Insert(0, new ZCLINIC.Areas.Master.Models.Master_SubAccount { Sub_ID = 0, Subacc_Name = "All" });

                            }
                            @Html.DropDownList("Sub_ID", Master_SubAccount.Select(p => new SelectListItem() { Text = p.Subacc_Name, Value = p.Sub_ID.ToString() }), new { @class = "form-control", data_style = "btn-default btn-xs", tabindex = '4', data_search = "true", data_width = "100%" })

                        </div>
                    </div>














                </div>




            </div>

            <div class="row">


                <div class="form-group form-group-xs col-md-8">

                    <div class="form-group form-group-xs col-md-3">
                        <a id="FId" class="btn btn-primary btn-xs"><i class="position-left"></i>Fees Receipt Register</a>



                    </div>


                    <div class="form-group form-group-xs col-md-3">
                        <a id="CourseId" class="btn btn-primary btn-xs"><i class="position-left"></i>Fees Receipt Register Course Wise</a>



                    </div>

                </div>

            </div>
            <div class="row">
                <div class="form-group form-group-xs col-md-3">
                    <div class="form-group form-group-xs col-md-4">
                        <a id="CourseSummaryId" class="btn btn-primary btn-xs"><i class="position-left"></i>Fees Receipt Register Course Wise Summary</a>



                    </div>


                </div>



                <div class="form-group form-group-xs col-md-3">
                    <div class="form-group form-group-xs col-md-4">
                        <a id="AdmissionSummaryId" class="btn btn-primary btn-xs"><i class="position-left"></i>Admission Wise Summary</a>



                    </div>


                </div>





















            </div>
        </div>

<script>

    document.getElementById('FromDate').valueAsDate = new Date();
    document.getElementById('ToDate').valueAsDate = new Date();


    $('#FId').click(function (e) {


        var Date = 'Form Date: ' + moment($("#FromDate").val()).format('DD/MM/YYYY') +
            ' Up to Date: ' + moment($("#ToDate").val()).format('DD/MM/YYYY');


        //var RecId = $('#FId').val();


        debugger


        var value = `/Report/Reportrdlc/AReport?rvalues.Name=23&rvalues.Value[0]=${$('#FromDate').val()}&rvalues.Value[1]=${$('#ToDate').val()}&rvalues.Value[2]=${$('#Sub_ID').val()}&rvalues.Value[3]=''&rvalues.Value[4]=''&rvalues.Value[5]=''&rvalues.Value[6]=${Date}`
        $(this).attr('href', value)
        $(this).attr('target', "_blank")




    })




    $('#CourseId').click(function (e) {


        var Date = 'Form Date: ' + moment($("#FromDate").val()).format('DD/MM/YYYY') +
            ' Up to Date: ' + moment($("#ToDate").val()).format('DD/MM/YYYY');


        //var RecId = $('#FId').val();


        debugger


        var value = `/Report/Reportrdlc/AReport?rvalues.Name=28&rvalues.Value[0]=${$('#FromDate').val()}&rvalues.Value[1]=${$('#ToDate').val()}&rvalues.Value[2]=''&rvalues.Value[3]=''&rvalues.Value[4]=''&rvalues.Value[5]=''&rvalues.Value[6]=${Date}`
        $(this).attr('href', value)
        $(this).attr('target', "_blank")




    })



    $('#CourseSummaryId').click(function (e) {


        var Date = 'Form Date: ' + moment($("#FromDate").val()).format('DD/MM/YYYY') +
            ' Up to Date: ' + moment($("#ToDate").val()).format('DD/MM/YYYY');


        //var RecId = $('#FId').val();


        debugger


        var value = `/Report/Reportrdlc/AReport?rvalues.Name=30&rvalues.Value[0]=${$('#FromDate').val()}&rvalues.Value[1]=${$('#ToDate').val()}&rvalues.Value[2]=''&rvalues.Value[3]=''&rvalues.Value[4]=''&rvalues.Value[5]=''&rvalues.Value[6]=${Date}`
        $(this).attr('href', value)
        $(this).attr('target', "_blank")




    })


    $('#AdmissionSummaryId').click(function (e) {


        var Date = 'Form Date: ' + moment($("#FromDate").val()).format('DD/MM/YYYY') +
            ' Up to Date: ' + moment($("#ToDate").val()).format('DD/MM/YYYY');


        //var RecId = $('#FId').val();


        debugger


        var value = `/Report/Reportrdlc/AReport?rvalues.Name=31&rvalues.Value[0]=${$('#FromDate').val()}&rvalues.Value[1]=${$('#ToDate').val()}&rvalues.Value[2]=''&rvalues.Value[3]=''&rvalues.Value[4]=''&rvalues.Value[5]=''&rvalues.Value[6]=${Date}`
        $(this).attr('href', value)
        $(this).attr('target', "_blank")




    })











</script>
